
@{
    ViewBag.Title = "New";
}
<p>Afisare formular de adaugare profesor</p>
<form method="post" action="/Profesors/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Nume" />
    <br /><br />
    <label>Prenume</label>
    <br />
    <input type="text" name="Prenume" />
    <br /><br />
    <label>GradDidactic</label>
    <br />
    <input type="text" name="GradDidactic" />
    <br />
    <button type="submit">Adauga profesor</button>
</form>