<div class="container" style="display:inline-flex">
    <div style="height: 140px; width: 350px; display: flex; align-items: center; ">
        <p style=" margin: 0px -17px 8px; font-size: 46px; font-weight: 500; line-height: 100%;"><b>Afisare profesor</b></p>

    </div>
</div>
<p><b>Nume de familie: </b>@ViewBag.Profesor.Nume</p>
<p><b>Prenume: </b>@ViewBag.Profesor.Prenume</p>
<p><b>Gradul didactic: </b>@ViewBag.Profesor.GradDidactic</p>
<br />
<a href="/Profesors/Edit/@ViewBag.Profesor.ProfesorId">
    Modifica
    Profesor
</a>
<form method="post"
      action="/Profesors/Delete/@ViewBag.Profesor.ProfesorId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge profesor</button>
</form>
<hr />
<a href="/Profesors/Index">Inapoi la lista profesorilor</a>
<br />
<a href="/Profesors/New">Adauga alt profesor</a>
<br />