
<div class="container" style="display:inline-flex">
    <div style="height: 250px; width: 450px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
        <p style=" margin: 0px 0px 8px; font-size: 56px; font-weight: 900; line-height: 100%;"><b><i>Better platform, better teaching.</i> </p>

    </div>

    
</div>
<div style="height: 300px; width: 700px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
    <p style=" margin: 0px 0px 8px; font-size: 36px; font-weight: 300; line-height: 100%;"><b> moodlie! for great students and teachers inspired by great students and teachers.</p>

</div>

