<div class="container" style="display:inline-flex">
    <div style="height: 240px; width: 450px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
        <p style=" margin: 0px 0px 8px; font-size: 56px; font-weight: 900; line-height: 100%;"><b>Contact us at: </b><i style="font-weight:200; font-size: 27px;line-height: 100%;">moodlie.official@gmail.com</i></p>

    </div>
</div>