@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="display:inline-flex">
    <div style="height: 600px; width: 450px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
        <p style=" margin: 0px 0px 8px; font-size: 56px; font-weight: 900; line-height: 100%;"><b>We make teaching better for both ends. </b><i style="font-weight:200; font-size: 27px;line-height: 100%;">What are you waiting? <br /> Be a better teacher for your students <br />Be a better student for your teachers</i></p>

    </div>
    <div style="height: 600px; width: 550px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
        <img class="img1" src="/images/hat.png" style="height: 390px;width: 500px;"/>
    </div>
</div>

<style type="text/css">
    @@media (max-width: 767px) {
        .img{
            display:none;
        }
    }
    @@media (min-width: 768px){
        .img {
            height: 390px;
            width: 500px;
        }
    }
</style>

