
@{
    ViewBag.Title = "NewP";
}

<form method="post" action="/Registration/NewP">
    <label>Nume</label>
    <br />
    <input type="text" name="Nume" />
    <br /><br />
    <label>Prenume</label>
    <br />
    <input type="text" name="Prenume" />
    <br /><br />
    <label>GradDidactic</label>
    <br />
    <input type="text" name="GradDidactic" />
    <br />
    <button type="submit">Inregistreaza-te</button>
</form>