@{
    ViewBag.Title = "New";
}
<p>Afisare formular de adaugare student</p>
<form method="post" action="/Students/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Nume" />
    <br /><br />
    <label>Prenume</label>
    <br />
    <input type="text" name="Prenume" />
    <br /><br />
    <label>AnStudiu</label>
    <br />
    <input type="text" name="AnStudiu" />
    <br />
    <button type="submit">Adauga student</button>
</form>