<div class="container" style="display:inline-flex">
    <div style="height: 140px; width: 350px; display: flex; align-items: center; ">
        <p style=" margin: 0px -17px 8px; font-size: 46px; font-weight: 500; line-height: 100%;"><b>Afisare student</b></p>

    </div>
</div>
<p><b>Nume de familie: </b>@ViewBag.Student.Nume</p>
<p><b>Prenume: </b>@ViewBag.Student.Prenume</p>
<p><b>An de studiu: </b>@ViewBag.Student.AnStudiu</p>
<br />
<a href="/Students/Edit/@ViewBag.Student.StudentId">
    Modifica
    student
</a>
<form method="post"
      action="/Students/Delete/@ViewBag.Student.StudentId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge studentul</button>
</form>
<hr />
<a href="/Students/Index">Inapoi la lista studentilor</a>
<br />
<a href="/Students/New">Adauga alt student</a>
<br />