@model moodlie.Models.Curs


<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: none;
    }

    button[type=submit] {
        width: 100%;
        background-color: #E79633;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button[type=submit]:hover {
            background-color: #D98C2F;
        }

    .divul {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>


<div class="container" style="display:inline-flex">
    <div style="height: 140px; width: 350px; display: flex; align-items: center; ">
        <p style=" margin: 0px -17px 8px; font-size: 46px; font-weight: 500; line-height: 100%;"><b>Editare curs</b></p>

    </div>
</div>


<div class="divul">
    <form method="post" action="/Curses/Edit/@Model.CursId">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <label>Nume</label>
        <br />
        <input type="text" name="Nume" value="@Model.Nume" />
        <br /><br />
        <label>Profesorul Titular</label>
        @Html.DropDownListFor(m => m.ProfesorId,
        new SelectList(Model.Profesors, "Value", "Text"),
        "Selectati profesor", new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.ProfesorId, "", new { @class = "text-danger" })

        <button type="submit">Modifica curs</button>
    </form>
</div>
