
@{
    ViewBag.Title = "New";
}

<p>Afisare formular de adaugare curs</p>
<form method="post" action="/Curses/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Nume" />
    <br /><br />
    <label>ProfesorTitular</label>
    <br />

    <br /><br />
    <button type="submit">Adauga curs</button>
</form>